.color-modal {
  position: fixed; /* Stay in place */
  display: none;
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  font-family: "Inter";
  background-color: rgba(0, 0, 0, 0.5);
}

.color-modal-content {
  position: fixed;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#colorPickerModalContent {
  display: flex;
  flex-wrap: wrap;
}
input[type="color"] {
  margin-bottom: 20px;
}


.color-tabs {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;

}

.tab-container{
  display: flex;
  
}



.color-tab {
  border: 2px solid transparent; /* Add a transparent border */
  margin: 3px;
  cursor: pointer;
  transition: border-color 0.2s; /* Add a transition effect for border color */
}

.color-tab.active {
  border-color: #3498db; /* Change border color for the active button */
}

.color-tab:hover {
  border-color: #333; /* Change border color on hover */
}


/* Tooltip styles */
.color-tab[title]:hover::before {
  content: attr(title);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
}


.color-tab:hover::before {
  opacity: 1;
}

.color-tab-content {
  display: none;
  padding: 10px;
}

.color-tab-content.show {
  display: block;
}

.bg-modal-tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}
.bg-modal-close-btn{
  border: #f5f5f5;
  color: red;
  padding: 2px 5px px 5px;
  font-size: 2rem;
  border-radius: 10%;
}
.bg-modal-close-btn:hover{
  color: #f5f5f5;
  background-color: red;
  transition: all 400ms;
}

.colorContainer{
  position: relative;
  height: 30px;
  width: 30px;
  margin: 8px;
  transition: transform 0.2s ease-in-out;
  /* border: 2px solid black; */
  border-radius: 2px;
  z-index: 1;
  margin-bottom: 4rem;
  cursor: pointer;
}

.colorContainer:hover {
  transform: scale(1.4); /* Enlarge the tile on hover */
  border: 2px solid #000000;
}

/* Pattern Tiles Animation */

.patternContainer{
  position: relative;
  transition: transform 0.2s ease-in-out;
  /* border: 2px solid black; */
  border-radius: 2px;
  height: 4rem;
  width: 4rem;
  margin: 6px;
}

.patternContainer:hover {
  transform: scale(1.4); /* Enlarge the tile on hover */
}


.tooltip {
  position: absolute;
  top: 34px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.colorContainer:hover .tooltip {
  opacity: 1; /* Show the tooltip on hover */
}